# Database Settings
DATABASE_URL=postgresql://[user]:[password]@[host]/[dbname]

# App Configs
SECRET_KEY=your_secret_key_here
FLASK_DEBUG=true
PORT=5000

# LINE Login API
LINE_CLIENT_ID=your_line_client_id_here
LINE_CLIENT_SECRET=your_line_client_secret_here
LINE_REDIRECT_URI=http://localhost:5173/

# Google Login API
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5173/

# Payment Settings
PAYMENT_WEBHOOK_SECRET=your_payment_webhook_secret_here